# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and virtual environments
.venv/
.ruff_cache/
.pytest_cache/

# FastF1 data cache & Analytics outputs
data_cache/
output/
